:root{
    --color-background:#e5e4fc;
    --color1:#f0f0f0;
    --color2:#000000;
    --color3:#5ec3e5;
    --color4:#0bd330;
    --color5:#5900ff; 
    --fontFamily:"Cascadia Code",sans-serif;
}

*{
    margin:0px;
    padding:0;
    box-sizing:border-box;
}
body{
    background:var(--color-background);
    font-family:var(--fontFamily);
}
#inicio{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--color3);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:1;
    transition: opacity 1s ease-in-out;
}
#titulo{
    font-size:3rem;
    text-align:center;
    margin-top:100px;
    text-transform:uppercase;
    font-family:none;
    background:var(--color5);
    -webkit-text-fill-color:transparent;
    background-clip:text;
    animation: efeito 1s ease-in-out;
}
#frase{
    font-size:1.5rem;
    color:var(--color1);
    opacity:0;
    animation:efeito2 3s ease-in-out;
}
/*Menu Hamburguer*/

.menu-hamburguer{
    display:none;
    flex-direction:column;
    justify-content: space-around;
    width:30px;
    height:25px;
    cursor:pointer;
    z-index:1000;
}
.menu-hamburguer span{
    width:100%;
    height:3px;
    background:var(--color1);
    border-radius:10px;
}

header{
    background:var(--color3);
    color:var(--color2);
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: 0 5px 5px var(--color4);
    border-radius:50px;
}
header #logo{
    width:70px;
    height:70px;
    border-radius:50px;
}
header nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}
header nav ul li a{
    text-decoration:none;
    color:var(--color1);
    font-weight:800;
}
header nav ul li a:hover{
    color:var(--color5);
}

.cor{
    width:30px;
    height:30px;
    border-radius:50%;
    background:var(--colorLinear);
}
#texto{
    gap:30px;
    font-size:3rem;
    text-align:center;
    margin-top:100px;
    font-family:none;
    text-transform:uppercase;
    background:var(--color4);
    -webkit-text-fill-color:transparent;
    background-clip:text;
}
#texto2{
    font-size:2rem;
    text-align:center;
    margin-top:50px;
    font-family:none;
    text-transform:uppercase;
    background:var(--color5);
    -webkit-text-fill-color:transparent;
    background-clip:text;
}

footer{
    background:var(--color3);
    color:var(--color2);
    padding:1.5rem;
    display:flex;
    justify-content:space-between;
    font-weight:700;
    align-items:center;
    box-shadow:0 10px 10px rgba(0,0,0,0.6);
}

/* Responsividade menu hamburguer */
/* BREAKPOINT */

@media(max-width: 768px){
    header{
        position:relative;
    }
    .menu-hamburguer{
        display:flex;
        position:relative;
        z-index:1002;
    }
    nav{
        display:none !important;
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:var(--color3);
        flex-direction:column;
        padding: 20px;
        z-index:1001;
        border-radius:30px;
        box-shadow: 0 5px 5px var(--color4);
   }
   nav.active{
       display:flex !important;
   }
   nav ul{
       flex-direction:column;
       align-items:center;
       gap:20px;
   }
   /* efeito para transformar o menu em X */
   .open span:nth-child(1){transform:rotate(45deg)translate(5px,5px);}
   .open span:nth-child(2){opacity:0;}
   .open span:nth-child(3){transform:rotate(-45deg)translate(7px,-7px);}
}