:root{
    --color-background:#e5e4fc;
    --color1:#f0f0f0;
    --color2:#000000;
    --color3:#5ec3e5;
    --color4:#0bd330;
    --color5:#5900ff; 
    --fontFamily:"Cascadia Code",sans-serif;
}

*{
    margin:0px;
    padding:0;
    box-sizing:border-box;
}
body{
    background:var(--color-background);
    font-family:var(--fontFamily);
}
#inicio{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--color3);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:1;
    transition: opacity 1s ease-in-out;
}
#imgHero{
    width:400px;
    height:400px;
    border-radius:50%;
    animation: rodar 1s ease-in-out; 
}
@keyframes rodar{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);       
    }
}

#titulo{
    font-size:3rem;
    text-align:center;
    margin-top:100px;
    text-transform:uppercase;
    font-family:none;
    background:var(--color5);
    -webkit-text-fill-color:transparent;
    background-clip:text;
    animation: efeito 1s ease-in-out;
}

@keyframes efeito{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#frase{
    font-size:1.5rem;
    color:var(--color1);
    opacity:0;
    animation:efeito2 3s ease-in-out;
}

@keyframes efeito2{
    from{
        opacity:0;
        transform:scale(1.2);
    }
    to{
        opacity:1;
    }
}

/*Menu Hamburguer*/

.menu-hamburguer{
    display:none;
    flex-direction:column;
    justify-content: space-around;
    width:30px;
    height:25px;
    cursor:pointer;
    z-index:1000;
}
.menu-hamburguer span{
    width:100%;
    height:3px;
    background:var(--color1);
    border-radius:10px;
}

header{
    background:var(--color3);
    color:var(--color2);
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: 0 5px 5px var(--color4);
    border-radius:50px;
}
header #logo{
    width:70px;
    height:70px;
    border-radius:50px;
}
header nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}
header nav ul li a{
    text-decoration:none;
    color:var(--color1);
    font-weight:800;
}
header nav ul li a:hover{
    color:var(--color5);
}

/* Parte do Card e Produto: */

/* Container dos cards */
#container{
    padding:40px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

/* Card */
.produto-card{
    background:var(--color1);
    border-radius:20px;
    overflow:hidden;
    border:2px solid var(--color5);
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    width:100%;
    max-width:300px;
    min-height:420px;
    display:flex;
    flex-direction:column;
    transition:0.3s ease;
}

/* Hover */
.produto-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(0,0,0,0.25);
}

/* Imagem */
.produto-card img{
    width:100%;
    height:220px;
    object-fit:contain;
    background:white;
    padding:10px;
}

/* Conteúdo */
.card-content{
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex:1;
    text-align:center;
    font-family:'Poppins', sans-serif;
}

/* Título */
.card-content h3{
    font-size:1.1rem;
    color:var(--color2);
    margin-bottom:15px;
}

/* Preço */
/* preço antigo */
.preco-antigo{
    font-size:1rem;
    color:gray;
    margin-bottom:8px;
    font-family:Arial, sans-serif;
}
.preco-antigo span{
    padding:5px;
    font-size:1.1rem;
    text-decoration:line-through;
    text-decoration-color: red;
}
/* preço atual */
.preco{
    margin:5px;
    font-size:2rem;
    color:red;
    font-weight:bold;
    font-family:'Poppins', sans-serif;
}
.preco span{
    padding:5px;
    font-size:1.2rem;
    font-weight:50;
    color:var(--color4);
}

/* Botão */
.btn-comprar{
    background:var(--color4);
    color:white;
    border:none;
    padding:12px;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.btn-comprar:hover{
    background:var(--color3);
    transform:scale(1.05);
}

.cor{
    width:30px;
    height:30px;
    border-radius:50%;
    background:var(--colorLinear);
}
#texto{
    gap:30px;
    font-size:3rem;
    text-align:center;
    margin-top:100px;
    font-family:none;
    text-transform:uppercase;
    background:var(--color4);
    -webkit-text-fill-color:transparent;
    background-clip:text;
}
#texto2{
    font-size:2rem;
    text-align:center;
    margin-top:50px;
    font-family:none;
    text-transform:uppercase;
    background:var(--color5);
    -webkit-text-fill-color:transparent;
    background-clip:text;
}

footer{
    background:var(--color3);
    color:var(--color2);
    padding:1.5rem;
    display:flex;
    justify-content:space-between;
    font-weight:700;
    align-items:center;
    box-shadow:0 10px 10px rgba(0,0,0,0.6);
}

/* Responsividade menu hamburguer */
/* BREAKPOINT */

@media(max-width: 768px){
    header{
        position:relative;
    }
    .menu-hamburguer{
        display:flex;
        position:relative;
        z-index:1002;
    }
    nav{
        display:none !important;
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:var(--color3);
        flex-direction:column;
        padding: 20px;
        z-index:1001;
        border-radius:30px;
        box-shadow: 0 5px 5px var(--color4);
   }
   nav.active{
       display:flex !important;
   }
   nav ul{
       flex-direction:column;
       align-items:center;
       gap:20px;
   }
   /* efeito para transformar o menu em X */
   .open span:nth-child(1){transform:rotate(45deg)translate(5px,5px);}
   .open span:nth-child(2){opacity:0;}
   .open span:nth-child(3){transform:rotate(-45deg)translate(7px,-7px);}
}